<div class="container">
  <h1>{{section.title}}</h1>
  <p>{{section.description}}</p>

  <div class="doc-container">
    <iframe *ngIf="SpreadsheetID != null" [src]='sheetURL()' (load)="loaded = true" [hidden]="!loaded"></iframe>
    <div class="loader" [hidden]="loaded"></div>
  </div>
  <div class="card-deck mb-3 text-center active-task" *ngIf="activeTask != null">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">
          <span *ngIf="activeTask.attempted" class="fas fa-exclamation"></span>
          <span *ngIf="!activeTask.attempted" class="fas fa-pencil-alt"></span>
          Free
        </h4>
      </div>
      <div class="card-body">
        <div class="card-title pricing-card-title"  [innerHTML]="activeTask.description"></div>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary" (click)="showHints()" [hidden]="!activeTask.attempted || hintsShown">Show Hint</button>
        <div *ngIf="activeTask.attempted" class="alert alert-info" [hidden]="!hintsShown" [innerHTML]="activeTask.errorMessage"></div>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary" (click)="checkTask()">Check</button>
      </div>
    </div>
  </div>
  <div class="alert alert-success active-task" role="alert" *ngIf="activeTask == null">
    <strong>Gratulálunk!</strong>
  </div>
  <div class="alert alert-success" role="alert" *ngFor="let t of finishedTasks"> <span class="glyphicon glyphicon-ok"></span> <div [innerHTML]="t.description"></div></div>
</div>
