<div class="container">
  <h1>{{section.title}}</h1>
  <p>{{section.description}}</p>

  <div class="doc-container">
    <iframe *ngIf="_spreadsheetId != null" [src]='sheetURL()' (load)="loaded = true" [hidden]="!loaded"></iframe>
    <div class="loader" [hidden]="loaded"></div>
  </div>
  <div class="alert {{activeTask.errorMessage ? 'alert-danger' : 'alert-info'}} active-task" role="alert" *ngIf="activeTask != null">
    <span *ngIf="activeTask.errorMessage" class="glyphicon glyphicon-remove"></span>
    <span *ngIf="!activeTask.errorMessage" class="glyphicon glyphicon-pencil"></span>
    <strong>{{activeTask.description}}</strong>
    <button class="btn-primary" (click)="checkTask()" style="display: block; float: right;" >Check</button>
    <div *ngIf="activeTask.errorMessage != null">{{activeTask.errorMessage}}</div>
  </div>
  <div class="alert alert-success active-task" role="alert" *ngIf="activeTask == null">
    <strong>Gratulálunk!</strong>
  </div>
  <div class="alert alert-success" role="alert" *ngFor="let t of finishedTasks"> <span class="glyphicon glyphicon-ok"></span> {{t.description}}</div>
</div>
